.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blockquote{
  border-left: .25em solid;
  padding: 0 1em;
  color: grey;
  font-size: 25px;
}

.emoji{
  font-size: 80px;
  text-align: center;
}

.logo{
  color: white;
}

.link {
  height: 2.3em;
}

.github{
  height: 2.5em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
