.main {
  flex: 1;
  flex-direction: column;
  justify-content: center;

}

.text{
  color: grey;
  font-size: 25px;
  width: 95%;
  float: right;
}

.blockquote{
  border-left: .25em solid;
  padding: 0 1em;
}

.emoji{
  font-size: 80px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.logo{
  color: white;
}

.link {
  height: 2em;
}

.github{
  height: 1.7em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
